{% if site.stackoverflow %}
	<div class="rounded_panel txt_lightgrey">
		<br>
		<div class="content-rounded-panel" style="text-align: center">
			<div id="stackScore">
				<a target='_blank' href="{{site.stackoverflow.profileurl}}">
					<img src="./img/v2.jpg" width="230" height="230"  style="border-radius: 50%"
						alt=" Jesús Manuel +598 93478670" >
				</a>
			</div>
		</div>
		<div>
		  <h4>jesusmoh89@gmail.com</h4>
		</div>
		<div style="text-align: center">
		  <h4>+598 93478670</h4>
		</div>
		<div style="text-align: center">
		  <img src="./img/WhatsApp.png" width="110" height="110" >
		</div>
	</div>
{% endif %}
