{% if site.blogfeed %}
	<div id="blogBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Recent blog posts</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="blogArticles">
				<br>
				<a target="_blank" href="https://www.linkedin.com/posts/jesusmho_notedetengas-frontend-backend-activity-6715378643591274496-dLg1">Backend/Frontend!</a> 
                                <br>
				<a target="_blank" href="https://www.linkedin.com/posts/jesusmho_activity-6698289939433431040-4pqs">Password!</a> 
                                <br>
				<a target="_blank" href="https://www.linkedin.com/posts/jesusmho_activity-6653858970895204352-lI4V">Full-stack!</a> 
			</div>
			<br>
		</div>
		<div class="top-rounded-panel grey-bg">
			<h1>Hobbies</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="hobbies">
				<br>
				   <h4>Football and basketball</h4>
				<br>
			</div>
			<br>
		</div>
	</div>
{% endif %}

