{% if site.stackoverflow %}
	<div class="rounded_panel txt_lightgrey">
		<br>
		<div class="content-rounded-panel">
			<div id="stackScore">
				<a target='_blank' href="{{site.stackoverflow.profileurl}}">
					<img src="{{site.stackoverflow.flairimageurl}}" width="230" height="230"  style="border-radius: 50%"
						alt=" Jesús Manuel +598 93478670" >
				</a>
			</div>
		</div>
		<div class="top-rounded-panel grey-bg">
		  <h4>jesusmoh89@gmail.com</h4>
		</div>
		<div class="top-rounded-panel grey-bg" style="text-align: center">
		  <h4>+598 93478670</h4>
		</div>
		<img src="./img/WhatsApp.png" width="20" height="20" >
	</div>
{% endif %}
