{% if site.blogfeed %}
	<div id="blogBubble" class="rounded_panel txt_lightgrey">
		
		<div class="top-rounded-panel grey-bg">
			<h1>Soft Skills</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="blogArticles">
                                   <h4>Autodidact</h4>
				   <h4>Proactive</h4>
				   <h4>Humility</h4>
				   <h4>Team work</h4>
			</div>
		</div>
		<div class="top-rounded-panel grey-bg">
			<h1>Hobbies</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="hobbies">
				   <h4>Football and basketball</h4>
			</div>
			<br>
		</div>
	</div>
{% endif %}

